h3 {
  color: #4e594a;
}
.btn-primary {
  background-color: rgba(103, 110, 93, 0.9);
  border-color: rgb(78, 89, 74);
}
.btn-primary:hover {
  background-color: rgb(78, 89, 74);
  border-color: rgb(78, 89, 74);
}
.card {
  background-color: rgba(121, 164, 113, 0.5);
  border-radius: 8px;

  margin: 25px auto 0;
}
.name-list {
  list-style: none;
  color: rgb(78, 89, 74);
}
.enterprise-name {
  font-size: 20px;
}
.symbol-name {
  font-size: 17px;
}
.display {
  border: 2px solid rgb(78, 89, 74);
  border-radius: 10px;
  background-color: rgb(254, 254, 234);
  width: 200px;
  height: 150px;
  margin: 0 auto;
  box-shadow: 4px 4px 3px #4e594a;
}

.quote {
  color: rgb(78, 89, 74);
}
.footer {
  width: 400px;
  margin: 0 auto;
  font-size: small;
  color: #778288;
}

#quote {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin-top: 15px;
}
#procent-change {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}
